<div class="container">
  <h1>Welcome to Blogger!</h1>

  <h2>Login</h2>

  <%= form_tag(login_path) do %>
    <div>
      <%= text_field_tag :username, nil, placeholder: 'Username' %>
    </div>
    <div>
      <%= password_field_tag :password, nil, placeholder: 'Password'  %>
    </div>
    <%= submit_tag "Login" %>
  <% end %>

  <!-- <h2><a href="../users/new">Sign Up</a></h2> -->
</div>
