textarea {
  margin-top: 1em;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.container a {
  text-decoration: none;
  color: green;
  // background: grey;
}

.container div {
  border: 1px solid;
  width: 40%;
  margin: 1em auto;
}

input[type=submit] {
  background: green;
}
