* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  // text-transform: uppercase;
}

#menuBtn {
  background: rgb(82, 140, 227);
  color: white;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 5em;
  height: 4em;
  line-height: 4em;
  transition: color 1s;
  position: fixed;
  top: 0;
  left: 35%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}

#menuBtn:hover {
  color: black;
  cursor: pointer;
}

.wrapper {
  min-height: calc(100vh - 2em);
}

.navbar {
background: rgb(82, 140, 227);
text-align: center;
width: 60%;
margin: 0 auto;
display: none;
border-radius: .5em;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100%;
  height: 2em;
  line-height: 2em;
  transition: color 1s;
}

.navLeft li,
.navRight li {
  list-style-type: none;
  // border-bottom: 1px solid white;
}

.navbar a:hover {
  color: black;
}

.content {
  padding-top: 4em;
}

.mainFoot {
  height: 2em;
  text-align: center;
  background: rgb(82, 140, 227);
}

@media (min-width: 510px) {
  #menuBtn {
    display: none;
  }

  #closeMenu {
    display: none;
  }

  .navbar {
    height: 3em;
    line-height: 2em;
    width: 100%;
    display: block;
    border-radius: 0;
  }

  .navLeft li {
    float: left;
    margin: 5px 5px 5px 10px;
  }

  .navRight li {
    float: right;
    margin: 5px 10px 5px 5px;
  }

  .navLeft li,
  .navRight li {
    border-bottom: none;
  }

  .content {
    padding-top: 0;
  }
}
